/*font-family: 'Russo One', sans-serif;*/
/*font-family: 'Geo', sans-serif;*/


body {
    margin: 0;
    padding: 0;
    overflow:hidden;
}

.cover {
    background-image: url("../assets/bgr.png");


    background-size: 100% 100%;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 300;
    top: 0;
    /*background:transparent;*/
    pointer-events:none;
}

.in-game .stage {
    padding-top: 5%;

}

.elevator_bg {
    background-image: url("../assets/elevator.png");
    background-size: 100% 100%;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -300;
    top: 0;
}

.character {
    cursor: pointer;
    display: inline-block;
    height: 100%;
    margin-left: -14%;
    width: 36%;
}

.character img{
    height: 100%;
    width: 100%;
}

.farter {
    height: 14%;
    position: absolute;
    top: 5%;
    width: 16%;
}
.farter1 {
    left: -10%;
}

.farter2 {
    left: 10%;
}

.farter3 {
    left: 30%;
}

.farter4 {
    left: 50%;
}

.myvote {
    background-image: url("../assets/arrow.png");
    background-size: 100% 100%;
    height: 7%;
    left: 0;
    position: absolute;
    top: 5%;
    width: 7%;
}

.myvote1 {
    left: 0;
}

.myvote2 {
    left: 23%;
}

.myvote3 {
    left: 46%;
}

.myvote4 {
    left: 69%;
}

.doors {
    overflow:hidden;
}

.not-in-game {
    position: absolute;
    display: block;
    width: 258px;
    height: 98px;
    z-index: 200;
    left: 50%;
    margin-left: -129px;
    top: 50%;
    margin-top: -49px;
    text-align: center;
    vertical-align: middle;
}

.not-in-game div {
    background-image: url(../assets/btn_login.png);
    width: 258px;
    height: 98px;
    cursor: pointer;
}

.elevator {
    bottom: 5%;
    left: 28%;
    position: absolute;
    right: 15%;
    top: 20%;
}

.door {
    position: absolute;
    /*background-color: grey;*/
    background-image: url(../assets/Door.png);
    background-size: 100% 100%;
    width: 50%;
    height: 100%;
    display: block;
    transition:left 1.0s ease-in-out;
    overflow:hidden;
    z-index: 2;
}

.door.left{
    left: 0;
    border-right: black thin solid;
}

.open .door.left{
    left: -51%;
}

.door.right{
    left: 50%;
    border-left: black thin solid;
}

.open .door.right{
    left: 101%;
}

.stage {
    /*border: blue thin solid;*/
    display: block;
    z-index: 100;
}

.userlist {
    float: right;
    display: block;
    border: black thin solid;
    width: 9%;
    height: 100%;
    overflow: hidden;

}

.floor{
    background-color: #000000;
    position: absolute;
    top: 0.5%;
    left: 10%;
    right: 10%;
    z-index: 400;
}

.floorindicator{
    display: inline-block;
    width: 9%;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    /*font-family: 'Geo', sans-serif;*/
    color: white;
}

.highlight {
    /*background-color: black;*/
    color: #32d6fc;
}

.calltoaction{
    color: #FFFFFF;
    font-family: 'Russo One',sans-serif;
    font-size: 2.5em;
    height: 1.2em;
    left: 0;
    margin: 0 10% 0 10%;
    position: absolute;
    text-align: center;
    text-shadow: 3px 4px 2px #969696;
    top: 13%;
    width: 80%;
    z-index: 6;
}

.indicators {
    height: 30px;
}

.leaderboard {
    position: absolute;
    z-index: 500;
    width: 787px;
    height: 615px;
    background-image: url("../assets/LeaderBoard.png");
    background-repeat:no-repeat;
    top: 50px;
    left: 50%;
    margin-left: -392px;

    padding-top: 115px;
    padding-left: 45px;
}

.leaderboard .leader {
    height: 83px;
}

.leaderboard .leader img {
    float: left;
    margin-right: 20px;
}

.leaderboard .leader p {
    float: right;
    font-family: 'Russo One',sans-serif;
    margin-right: 150px;
    width: 300px;
}

.leaderboard .leader p.score {
    float: right;
    width: 80px;
    font-family: 'Russo One', sans-serif;
}

.leaderboard.about {
    background-image: url("../assets/About.png");
}






/*.elevator div {*/
    /*display: inline;*/
/*}*/
