<!doctype html>
<html ng-app="app">
<head>
    <title>Fart Roulette</title>
    <link href='http://fonts.googleapis.com/css?family=Russo+One|Geo' rel='stylesheet' type='text/css'>
    <script src="http://code.createjs.com/easeljs-0.7.0.min.js"></script>
    <script src="http://code.createjs.com/tweenjs-0.5.0.min.js"></script>
    <script src="http://code.createjs.com/movieclip-0.7.0.min.js"></script>
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script type="application/javascript" src="js/fartroulette.js"></script>
    <script type="application/javascript" src="js/spot3.js"></script>
    <!--<script type="application/javascript" src="js/fatguy1.js"></script>-->
    <!--<script type="application/javascript" src="js/fatguy2.js"></script>-->
    <!--<script type="application/javascript" src="js/oldguy1.js"></script>-->
    <!--<script type="application/javascript" src="js/oldguy2.js"></script>-->
    <link rel="stylesheet" href="css/fartroulette.css">

    <script type="text/javascript">
        WebFontConfig = {
            google: { families: [ 'Russo+One::latin' ] }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })(); </script>

</head>
<body>
    <div class="main" ng-controller="MainCtrl" ng-init="initWebSocket()">
        <div class="doors" ng-class="(showElevatorDiv() && loggedIn) ? 'open' : 'closed'">
            <div class="door left"></div>
            <div class="door right"></div>
        </div>


        <div class="not-in-game" ng-show="!loggedIn">
            <div ng-click="login()"></div>
        </div>


        <div class="in-game" ng-show="loggedIn">

            <div class="stage">
                <!--<div class="spotContainer" ng-init="initSpot()">-->
                    <!--<canvas id="spot"></canvas>-->
                <!--</div>-->

                <div class="elevator_bg">

                </div>

                <div class="floor">
                    <span  ng-repeat="num in [0,1,2,3,4,5,6,7,8,9,10]" class="floorindicator"
                           ng-class="highlightNum(num) ? 'highlight' : ''">{{num}}</span>
                </div>

                <div class="calltoaction">{{currentQ}}</div>

                <!--<div class="userlist">-->
                    <!--<div ng-repeat="user in state.activeUsersList">a</div>-->
                <!--</div>-->

                <div class="indicators"></div>

                <div class="elevator">
                    <span  ng-repeat="num in [1,2,3,4]" class="character"
                           ng-click="vote(num)">
                        <div class="farter farter{{num}}" ng-show="didcharfart(num)"><img src="assets/Bubbles/{{slotImg(num)}}.png"></div>
                        <div class="myvote myvote{{num}}" ng-show="didvoteon(num)"></div>
                        <img src="assets/{{slotImg(num)}}.png"></span>
                    <!--<div class="character" ng-click="vote(1)"><div class="myvote" ng-show="didvoteon(1)" style="left: 0"></div><img src="assets/{{slotImg(1)}}.png"></div>-->
                    <!--<div class="character" ng-click="vote(2)"><div class="myvote" ng-show="didvoteon(2)" style="left: 23%"></div><img src="assets/{{slotImg(2)}}.png"></div>-->
                    <!--<div class="character" ng-click="vote(3)"><div class="myvote" ng-show="didvoteon(3)" style="left: 46%"></div><img src="assets/{{slotImg(3)}}.png"></div>-->
                    <!--<div class="character" ng-click="vote(4)"><div class="myvote" ng-show="didvoteon(4)" style="left: 69%"></div><img src="assets/{{slotImg(4)}}.png"></div>-->
                    <div class="voters" ng-show="showElevatorDiv()">
                        <div class="forchar" ng-repeat="num in [1,2,3,4]">
                            <img src="{{img}}" ng-repeat="img in slotIdxToImages(num)">
                        </div>
                    </div>
                </div>

            </div>





        </div>

        <div class="cover">
        </div>

        <div class="stage leaderboard" ng-show="state.gameState == 'LEADERBOARD'">
        <!--<div class="stage leaderboard" >-->
            <!--<div class="leader" ng-repeat="user in state.leaderBoard">-->
                <!--<img src="{{user.avatar}}"><p>{{user.name}}</p><p class="score">{{user.score}}/{{user.numGames}}</p>-->
            <!--</div>-->
            <div class="leader" ng-repeat="user in state.leaderBoard">
                <img src="{{user.avatar}}"><p class="score">{{user.score.value}}/{{user.numGames.value}}</p><p>{{user.name}}</p>
            </div>
            <!--<div class="leader">-->
                <!--<img src="http://graph.facebook.com/546941722/picture"><p class="score">10/20</p><p>Nitzan Volman</p>-->
            <!--</div>-->
            <!--<div class="leader">-->
                <!--<img src="http://graph.facebook.com/546941722/picture"><p class="score">10/20</p><p>Nitzan Volman</p>-->
            <!--</div>-->
            <!--<div class="leader">-->
                <!--<img src="http://graph.facebook.com/546941722/picture"><p class="score">10/20</p><p>Nitzan Volman</p>-->
            <!--</div>-->
            <!--<div class="leader">-->
                <!--<img src="http://graph.facebook.com/546941722/picture"><p class="score">10/20</p><p>Nitzan Volman</p>-->
            <!--</div>-->
            <!--<div class="leader">-->
                <!--<img src="http://graph.facebook.com/546941722/picture"><p class="score">10/20</p><p>Nitzan Volman</p>-->
            <!--</div>-->
            <!--<div class="leader">-->
                <!--<img src="http://graph.facebook.com/546941722/picture"><p class="score">10/20</p><p>Nitzan Volman</p>-->
            <!--</div>-->
        </div>


        <!--<div ng-click="changestage('leaderboard')">aaa</div>-->
    </div>
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '247588218754850',
                status     : true,
                xfbml      : true
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>


   <!--Hello Farters-->
   <!--<br/>-->
   <!--<input type="range" ng-model="x" name="x"-->
          <!--min="0" max="200" integer />-->
   <!--<p>{{x}}</p>-->

   <!--&lt;!&ndash;<div>&ndash;&gt;-->
       <!--&lt;!&ndash;<label>Name:</label>&ndash;&gt;-->
       <!--&lt;!&ndash;<input type="text" ng-model="yourName" placeholder="Enter a name here">&ndash;&gt;-->
       <!--&lt;!&ndash;<hr>&ndash;&gt;-->
       <!--&lt;!&ndash;<h1>Hello {{yourName}}!</h1>&ndash;&gt;-->
   <!--&lt;!&ndash;</div>&ndash;&gt;-->


   <!--<svg version="1.1"-->
        <!--baseProfile="full"-->
        <!--xmlns="http://www.w3.org/2000/svg"-->
        <!--height="100%" width="100%">-->
       <!--<linearGradient id="backGrad" x1="0%" y1="0%" x2="0%" y2="100%">-->
           <!--<stop offset="10%" style="stop-color:#990000; stop-opacity:1" />-->
           <!--<stop offset="90%" style="stop-color:#cccc00; stop-opacity:1" />-->
       <!--</linearGradient>-->


       <!--<rect width="90%" height="90%" ng-attr-x="{{x}}" y="5%" fill="url(#backGrad)" />-->

   <!--</svg>-->

